.album{
    background-color:#000000ff;
}
.row{
    background-color: #1B1B1Bff;
}
input{
    background-color: #1B1B1Bff;
}

.card{
    background-color: #000000ff;
}
label{
    color: rgb(253, 253, 253);
}
h4{
    color: rgb(253, 253, 253);
}

.navbar{
    background-color: #1B1B1Bff;
}
.container-fluid{
    background-color: #1B1B1Bff;
}

.p-2 {
    background-color: #1B1B1Bff;
    color: #1B1B1Bff;
}

.card-text{
    margin-bottom: 0cm;
    margin-top: 0cm;
}
footer{
    color: rgb(2, 2, 2);
    background-color: #000000ff;
}
body{
    color: rgb(2, 2, 2);
    background-color: #000000ff;
}
#buttonRegister{
    background-color: #FF9900ff; 
    color:#1B1B1Bff; 
    font-weight: bold;
    margin-bottom: 3%;
}
#buttonplus{
    margin-right: 9px;
    align-items: center;
}
.goup{
    color: #ACABABff;
}
.text-muted{
    margin-top: 10%;
}
