.bodyclass{
    background-color: #000000ff;
    color: #ACABABff;

}

html{
    color: #ACABABff;
    background-color: #000000ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#output{
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-raidus: 100%;
    max-width: 250px;
    max-height: 250px; 
    object-fit:cover;
    width: 250px;
    height: 250px;    
}

.TextConsulta{

    font-weight: bolder;
    font-size: 100%;
    color:aliceblue;
    margin-top: -20px;
}

.TextInfoConsulta{
    font-weight: bolder;
    font-size: 140%;
    color: #FF9900ff;

}
