.album{
    background-color:#000000ff;
}
.row{
    background-color: #000000ff;
}
.card{
    background-color: #000000ff;
    color: #ACABABff;
}

.card-text{
    margin-bottom: 0cm;
    margin-top: 0cm;
}
