.album{
    background-color:#000000ff;
}
.row{
    background-color: #1B1B1Bff;
}
input{
    background-color: #1B1B1Bff;
}

.card{
    background-color: #000000ff;
}
label{
    color: rgb(253, 253, 253);
}
h4{
    color: #FF9900ff;
}

.navbar{
    background-color: #1B1B1Bff;
}
.container-fluid{
    background-color: #1B1B1Bff;
}

.p-2 {
    background-color: #1B1B1Bff;
    color: #1B1B1Bff;
}

.card-text{
    margin-bottom: 0cm;
    margin-top: 0cm;
}
footer{
    color: rgb(2, 2, 2);
    background-color: #000000ff;
}
body{
    color: rgb(2, 2, 2);
    background-color: #000000ff;
}
label{
    color: #FF9900ff;
}
#buttonRegister{
    background-color: #FF9900ff; 
    color:#1B1B1Bff; 
    font-weight: bold;
    margin-bottom: 3%;
}
#buttonplus{
    margin-right: 9px;
    align-items: center;
}
.goup{
    color: #ACABABff;
}
.text-muted{
    margin-top: 10%;
}

#output{
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-raidus: 100%;
    max-width: 100px;
    max-height: 100px; 
    object-fit:cover;
    width: 100px;
    height: 100px;    
    border-radius: 15px;
}

#inoutput{
    object-fit:cover;
    width: 500px;
    height: 300px;    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.TextConsulta{

    font-weight: bolder;
    font-size: 100%;
    color:aliceblue;
    margin-top: -20px;
}

.TextInfoConsulta{
    font-weight: bolder;
    font-size: 140%;
    color: #FF9900ff;

}
#nometexto{
    color: #FF9900ff;
}